[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/vlat/bin/uwsgi -i /home/ubuntvlat_version/myvlat/.config/uwsgi/mysite.ini

Restart=a
lways
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

