{% extends "base.html" %}

{% block content %}
<style>
    .filebox .upload-name .upload-btn{
        display: inline-block;
        height: 40px;
        padding: 0 10px;
        vertical-align: middle;
        border: 1px solid #dddddd;
        width: 85%;
        color: #999999;
    }
    .filebox label {
        display: inline-block;
        padding: 7px 20px;
        color: #fff;
        vertical-align: middle;
        background-color: #999999;
        cursor: pointer;
        height: 40px;
        margin-left: 10px;
    }
    .upload-btn {
        display: inline-block;
        padding: 7px 20px;
        color: #fff;
        border-color: white;
        vertical-align: middle;
        background-color: #999999;
        cursor: pointer;
        height: 40px;
        margin-left: 10px;
    }
    .filebox input[type="file"] {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
    }
</style>
<script>
    $(document).ready(function(){
    var fileTarget = $('.filebox .upload-hidden');

        fileTarget.on('change', function(){
            if(window.FileReader){
                var filename = $(this)[0].files[0].name;
            } else {
                var filename = $(this).val().split('/').pop().split('\\').pop();
            }

            $(this).siblings('.upload-name').val(filename);
        });
    }); 
</script>
<div class="upload-desc" style="text-align: center; margin-top: 30px;">
    <form name="csv-form" action="{% url 'user_download' %}" method="POST" id='form1' enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="form-type" value="form1">
        <div class="filebox">
            <input type="file" id="upload-file" name="upload-file" class="upload-hidden">
            <label for="upload-file">파일찾기</label> 
            <input class="upload-name" value="첨부파일" disabled="disabled" style="height: 38px; margin-left: 10px; width: 40%;">
            <button id="csv-file-upload-button" class="upload-btn">올리기</button>
        </div>
    </form>
</div>
<div class="option-desc" style="text-align: center;">
    <p style="margin: 0px auto 10px; padding: 20px 20px 0 20px; max-width: 800px; font-weight: 350; line-height: 1.3; color: cornflowerblue;">{{notice}}</p>
    <form action="{% url 'user_download' %}" method="POST" id='form2'>
        {% csrf_token %}
        <p class="option-message">옵션 선택</p>
        <div class="option-check">
            <input type="hidden" name="form-type" value="form2">
            <label style="padding: 0 15%; background-color: lightgray;"><input type="radio" name="option-list" value="option1" required> option 1</label>
            <label style="padding: 0 15%; background-color: lightgray;"><input type="radio" name="option-list" value="option2"> option2 </label>
        </div>
        <div class="option-one" style="float: left; width: 50%; text-align: center;">
            <ul>
                  <p style="margin-bottom: 10px;">- user_id</p>
                  <p>- 정답 수</p>
                  <p>- 시각화 종류별 정답 수</p>
            </ul>
        </div>
        <div class="option-two" style="float: left; width: 50%; text-align: center;">
            <ul>
                <p style="margin-bottom: 10px;">- user_id, quiz_id</p>
                <p>- type, task</p>
                <p>- status</p>
            </ul>
        </div>
        <div class="option-btn" style="text-align: center;">
            <button value="submit" role="button"> 다운로드 </button>
        </div>
    </form>

</div>
{% endblock %}