{% extends "base.html" %}

{% block content %}
<div class="upload-desc" style="text-align: center; margin-top: 30px;">
    <form name="csv-form" action="{% url 'user_download' %}" method="POST" id='form1' enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="form-type" value="form1">
        <input type="file" id="upload-file" name="upload-file" style="width: 300px;" />
        <label for="upload-file">파일선택</label> 
        <button id="csv-file-upload-button" class="upload-btn">올리기</button>
    </form>
</div>
<div class="option-desc" style="text-align: center;">
    {{notice}}
    <form action="{% url 'user_download' %}" method="POST" id='form2'>
        {% csrf_token %}
        <p class="option-message">옵션 선택</p>
        <div class="option-check">
            <input type="hidden" name="form-type" value="form2">
            <label style="padding-right: 40px;"><input type="radio" name="option-list" value="option1" required> option 1</label>
            <label><input type="radio" name="option-list" value="option2"> option2 </label>
        </div>
        <div class="option-one" style="float: left; width: 50%; text-align: center;">
            <ul>
                <p style="background: gainsboro;">Option 1 Column Value<p>
                  <p style="margin-bottom: 10px;">- user_id</p>
                  <p>- 정답 수</p>
                  <p>- 시각화 종류별 정답 수</p>
            </ul>
        </div>
        <div class="option-two" style="float: left; width: 50%; text-align: center;">
            <ul>
                <p style="background: gainsboro; margin-right: 30px;">Option 2 Column Value<p>
                <p style="margin-bottom: 10px;">- user_id, quiz_id</p>
                <p>- type, task</p>
                <p>- status</p>
            </ul>
        </div>
        <div class="option-btn" style="text-align: center;">
            <button value="submit" role="button"> 다운로드 </button>
        </div>
    </form>

</div>
{% endblock %}