{% extends "base.html" %}
{% block content %}
<div class="hero-section">
    <div class="container-float">
      <p class="intro-text">
        ✤ 시각화를 원활하게 보기 위해 <span style="color: #4444ff;">1400 x 1050 화면 해상도</span> 이상을 권장합니다.
      </p>
      <p class="intro-desc">
        K-VLAT(Visualization Literacy Assessment Test)는 문제 해결을 위해 데이터 시각화를 읽고 이해하고 사용하는 사용자의 능력을 측정하기 위해 개발되었습니다.
      </p>
      <p class="intro-desc">
        시작하기 전에 다음 사항에 유의하시기 바랍니다. </br> 
        테스트에는 <b>12개</b>의 데이터 시각화에 대한 <b>53개</b>의 객관식 질문이 포함되어 있습니다. 이 테스트를 완료하는 데 약 <b>30-40분</b>이 소요됩니다. </br> 
        모르는 문제가 나올 경우 추측 대신 ''넘어가기''를 선택해 주시길 바랍니다.
      </p>
      <p class="intro-desc">
        테스트를 완료하시면, 마지막에 최종 점수를 제공할 것입니다. </br> 참여해 주셔서 감사합니다. 프로젝트에 대한 피드백, 질문 또는 새로운 아이디어가 있으면 연락해주세요.
      </p>
      <p class="intro-desc"></p>
        준비되셨나요? 테스트를 시작하십시오!
    </p>
    <a href="/quiz2/101/" onclick="javascript:document.user.submit();" class="hero-cta cta">
      시작
    </a>
  </div>
</div>
{% endblock %}