{% extends "base.html" %}

<!-- 뒤로 넘어가기 안되게 하는 기능 -->
{% block fcback %}
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script> 
{% endblock %}

{% block content %}
<div class="hero-section">
    <div class="container-float">
      <div class="intro-first">
        <p class="intro-text">
          ✤ 시각화를 원활하게 보기 위해 <span style="color: white;">Google chrome browser의 1400 x 1050 화면 해상도</span> 이상을 권장합니다.
        </p>
        <p class="intro-name">
          K-VLAT(Visualization Literacy Assessment Test)
        </p>
        <p class="intro-detail">
          K-VLAT은 문제 해결을 위해 데이터 시각화를 읽고 이해하고 사용하는 사용자의 능력을 측정하기 위해 개발되었습니다
        </p>
      </div>
      <div class="intro-second">
        <p class="intro-notice">
          테스트 시작 전 유의사항
        </p>
        <p class="intro-desc">
          테스트에는 12개의 데이터 시각화에 대한 53개의 객관식 질문이 포함되어 있습니다. 
          이 테스트를 완료하는 데 약 30-40분이 소요됩니다.
          모르는 문제가 나올 경우 추측 대신 ''넘어가기''를 선택해 주시길 바랍니다. 
          테스트를 완료하시면, 마지막에 최종 점수를 제공할 것입니다.
        </p>
        <p class="intro-end">
        참여해 주셔서 감사합니다 </br> 
        프로젝트에 대한 피드백, 질문 또는 새로운 아이디어가 있으면 연락주시길 바랍니다
        </p>
      </div>
      <p class="intro-foot">준비되셨나요? 테스트를 시작하십시오!</p>
    <a href="/quiz/1/" onclick="javascript:document.user.submit();" class="hero-cta cta">
      시작
    </a>
  </div>
</div>
{% endblock %}