{% extends "base.html" %}

<!-- 뒤로 넘어가기 안되게 하는 기능 -->
{% block fcback %}
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script> 
{% endblock %}

{% block content %}
<div class="user-section">
    <div class="container-float">
        <div class="intro-desc-user">
            결과 화면을 확인하기 전에 아래의 설문을 작성해주시길 바랍니다.</br>
            수집된 데이터는 <span style="color: #4444ff;">연구 목적</span>으로만 활용될 예정입니다.
        </div>
        <form method="post" action="{% url 'user_end2' %}">
            {% csrf_token %}
            <div class="user-container">
                <div class="user-detail" >
                    <h4 class="user-choice">
                        3. 사용자의 전공을 입력해주세요.
                    </h4>
                    <label for="user-major-label" style="padding-left: 30px;"><input type="text" name="user-major" id="user-major-label" placeholder="ex) 컴퓨터공학과" onclick="this.placeholder = ''" onblur="this.placeholder = 'ex) 컴퓨터공학과'" required></label>
                </div>
    
                <div class="user-detail" >
                    <h4 class="user-choice">
                        4. 사용자의 K-VLAT 테스트 사용 목적을 선택하여 기입해주세요.
                    </h4>
                    <div class="list-type">
                        <label for="purpose1" style="padding-left: 30px;"><input type="radio" name="purpose" id="purpose1" value="단순 개인 역량 테스트 목적" required onClick="this.form.purpose_text.disabled=true"> 단순 개인 역량 테스트 목적</label></br>
                    </div>
                    <div class="list-type">
                        <label for="purpose2" style="padding-left: 30px;"><input type="radio" name="purpose" id="purpose2" value="학교(초중고) 역량 테스트" onClick="this.form.purpose_text.disabled=true"> 학교(초중고) 역량 테스트</label></br>
                    </div>
                    <div class="list-type">
                        <label for="purpose3" style="padding-left: 30px;"><input type="radio" name="purpose" id="purpose3" value="연구 목적" onClick="this.form.purpose_text.disabled=true"> 연구 목적</label></br>
                    </div>
                    <label for="purpose4" style="padding-left: 30px;"><input type="radio" name="purpose" id="purpose4" value="기타" onClick="this.form.purpose_text.disabled=false"> 기타</label>
                    </br>
                    <div class="list-type-text" style="padding: 15px 30px;">
                        기타사항 입력: <label for="purpose5" style="padding-left: 30px;"><input type="text" name="purpose" id="purpose5" disabled></label>
                    </div>
                </div>
                <script>
                    $(document).ready(function(){

                        // 라디오버튼 클릭시 이벤트 발생
                        $("input:radio[name=purpose]").click(function(){

                            if($("input[name=purpose]:checked").val() == "기타"){
                                $("input:text[name=purpose]").attr("disabled",false);
                                // radio 버튼의 value 값이 기타라면 활성화

                            }else{
                                $("input:text[name=purpose]").attr("disabled",true);
                                // radio 버튼의 value 값이 0이라면 비활성화
                            }
                        });
                    });
                </script>
                <button class="next-form-btn" value="submit" role="button"> 완료 </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}